---
# tasks file
- name: Get settings from Json Host file
  set_fact:
    sshfs_json_settings: "{{ lookup('file', sshfs_usersandgroups_json) | from_json }}"
  no_log: "{{ no_debug }}"

- name: Update repositories cache and install "sshfs" package
  ansible.builtin.apt:
    name: sshfs
    update_cache: yes

- name: Create parent mount dir
  ansible.builtin.file:
    path: "{{ sshfs_root_mountdir }}"
    state: directory
    owner: "root"
    group: "users"
    mode: '0750'

- name: Démonter les montages SSHFS existants si présents
  ansible.builtin.command:
    cmd: "umount {{ sshfs_root_mountdir }}/{{ item.name }}/{{ item.remote_host }}/{{ item.remote_port }}/{{ item.remote_user }}/{{ item.mountdir_name }}"
  loop: "{{ sshfs_users }}"
  ignore_errors: yes
  changed_when: false
  register: umount_results

- name: Create mount dirs for sshfs
  ansible.builtin.file:
    path: "{{ sshfs_root_mountdir }}/{{ item.name }}/{{ item.remote_host }}/{{ item.remote_port }}/{{ item.remote_user }}/{{ item.mountdir_name }}"
    state: directory
    owner: "{{ item.name }}"
    group: "root"
    mode: '0700'
  loop: "{{ sshfs_users }}"

- name: Add host(s) key(s)
  include_tasks: add_host_key.yml
  loop: "{{ sshfs_users }}"
    
- name: Gérer le bloc Ansible dans /etc/fstab
  ansible.builtin.blockinfile:
    path: /etc/fstab
    marker: "# {mark} ANSIBLE MANAGED USER MOUNTS"
    create: false
    block: |
      {% for u in sshfs_users %}
      {{ u.remote_user }}@{{ u.remote_host }}:{{ u.remote_path }} {{ sshfs_root_mountdir }}/{{ u.name }}/{{ u.remote_host }}/{{ u.remote_port }}/{{ u.remote_user }}/{{ u.mountdir_name }} fuse.sshfs uid={{ (sshfs_json_settings.users | selectattr('name', 'equalto', u.name) | map(attribute='uid') | first) }},gid=0,port={{ u.remote_port }},reconnect,noauto,_netdev,identityfile={{ (sshfs_json_settings.users | selectattr('name', 'equalto', u.name) | map(attribute='home') | first) }}/.ssh/{{ u.identity_filename }} 0 0
      {% endfor %}
  register: sshfs_fstab_update

- name: Créer les symlinks vers les FS SSHFS
  ansible.builtin.file:
    src: "{{ sshfs_root_mountdir }}/{{ item.name }}/{{ item.remote_host }}/{{ item.remote_port }}/{{ item.remote_user }}/{{ item.mountdir_name }}"
    dest: "{{ item.symlink }}"
    state: link
  loop: "{{ sshfs_users }}"
  when: item.symlink | length > 0
  loop_control:
    label: "{{ item.name }} -> {{ item.symlink }}"

- name: Recharger /etc/fstab
  ansible.builtin.command: mount -a
  become: true
  when: sshfs_fstab_update.changed

- name: Générer le script SSHFS parallèle pour chaque utilisateur
  ansible.builtin.template:
    src: "mount-sshfs.sh.j2"
    dest: "{{ sshfs_scriptsdir }}/mount-sshfs-{{ item }}"
    owner: root
    group: root
    mode: '0755'
  loop: "{{ sshfs_users | map(attribute='name') | unique | list }}"
  loop_control:
    label: "{{ item }}"

- name: Créer service systemd SSHFS pour chaque utilisateur
  ansible.builtin.copy:
    dest: "/etc/systemd/system/sshfs-{{ item }}-automount.service"
    owner: root
    group: root
    mode: '0644'
    content: |
      [Unit]
      Description=SSHFS mounts for {{ item }}
      After=network-online.target
      Wants=network-online.target
      
      [Service]
      Type=simple
      User={{ item }}
      ExecStart={{ sshfs_scriptsdir }}/mount-sshfs-{{ item }}
      Restart=always
      RestartSec=10
      RemainAfterExit=yes
      
      [Install]
      WantedBy=multi-user.target
  loop: "{{ sshfs_users | map(attribute='name') | unique | list }}"
  loop_control:
    label: "{{ item }}"

- name: Reload systemd
  command: systemctl daemon-reload
  
- name: Enable and Start Sftp service for each user
  ansible.builtin.systemd:
    name: "{{ sshfs_systemd_unit_name_prefix }}-{{ item }}-automount.service"
    enabled: yes
    state: restarted
  loop: "{{ sshfs_users | map(attribute='name') | unique | list }}"
  loop_control:
    label: "{{ item }}"
